<%- include("partials/headers") -%>
<div class="box" id="heading">
    <h1> Completed tasks </h1>
    <a href="/">Home</a>
  </div>

<div class="box">
<% Tasks.forEach(function(Task){ %>
        <div class="item">
          <form action="/completed?_method=delete" method="post">
            <input type="Checkbox" name="checkbox" value="<%= Task._id %>" onChange="this.form.submit()">
          </form>
          <p> <%= Task.item %> </p>
        </div>
<% }); %>
</div>
<%- include("partials/footer") -%>